.popup__error-message {
  padding: 0;
  margin: 3px auto 0;
  display: block;
  color: #F00;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  min-height: 30px;
  transition: 0.4s ease;
  opacity: 0;
}
