.header__logo {
  background-image: url(../../../images/header__logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  min-width: 142px;
  min-height: 33px;
  background-position: center;
}

@media (max-width: 540px) {
  .header__logo {
    max-width: 104px;
    max-height: 25px;
  }
}
