.popup__input {
  margin: 0 auto 0px;
  padding: 0 0 10px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 550px) {
  .popup__input {
    padding: 0 0 7px;
  }
}
