.profile__about {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 18px;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 910px) {
  .profile__about {
    margin-bottom: 36px;
    text-align: center;
    font-size: 14px;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .profile__about {
    margin-right: 10px;
    margin-left: 10px;
  }
}
