.profile {
  max-width: 880px;
  padding: 0;
  margin: 40px auto 50px;
  display: flex;
  align-items: center;
}

@media (max-width: 910px) {
  .profile {
      flex-direction: column;
      margin: 42px auto 36px;
  }
}
