.elements {
  margin: 0 auto 67px;
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media (max-width: 768px) {
  .elements  {
    margin: 0 auto 48px;
    justify-content: center;
  }
}
