.popup__close-button {
  padding: 0;
  margin: 8px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-button.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  position: absolute;
  left: 100%;
  bottom: 100%;
}
