.elements__delete {
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.elements__delete:hover {
  cursor: pointer;
  opacity: 0.5;
}
