.profile__avatar {
  background: url(../../../images/profile-photo.jpg), lightgray 50% / cover no-repeat;
  margin: 0 30px 0 0;
  padding: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: start;
}

@media (max-width: 910px) {
  .profile__avatar {
      margin: 0 auto 26px;
  }
}
