.popup {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
